body {
  background-color: #b7682e;
}
.navbar .container .nav-item {
  font-family: "Lora", serif;
}
.content {
  font-family: "Lora", serif;
  position: absolute;
}

.content h1 {
  position: absolute;
  width: 620px;
  height: 76px;
  left: 106px;
  top: 150px;
}
.content p {
  position: absolute;
  width: 688px;
  height: 198px;
  left: 65px;
  top: 230px;
}
.vector1 {
  position: absolute;
  left: 769px;
  right: 0%;
  top: 0%;
  bottom: 28.71%;
}
.vector2 {
  position: absolute;
  left: 291px;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.rectangle2 {
  position: absolute;
  width: 471px;
  height: 471px;
  left: 855px;
  top: 130px;
}

.pict-kopi {
  position: absolute;
  width: 399px;
  height: 397px;
  left: 893px;
  top: 166px;
}

.btn {
  background: #f5d1ad;
  border-radius: 70px;
  position: absolute;
  width: 233px;
  height: 92px;
  left: 250px;
  top: 400px;
  font-style: normal;
  font-weight: 200;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  transition: 300ms;
}
.btn a {
  text-decoration: none;
  color: black;
}
.btn:hover {
  transform: translateY(-10px);
}

.facebook-btn img {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 350px;
  top: 520px;
  transition: 300ms;
}

.instagram-btn img {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 520px;
  left: 280px;
  transition: 300ms;
}

.maps-btn img {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 520px;
  left: 421px;
  transition: 300ms;
}

.facebook-btn img:hover {
  transform: translateY(-10px);
}

.instagram-btn img:hover {
  transform: translateY(-10px);
}

.maps-btn img:hover {
  transform: translateY(-10px);
}
